body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form h2 {
    text-align: center;
    color: #fff;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #bbb;
}

.form input[type="text"],
.form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #fff; /* White background */
    color: #222; /* Dark text color */
    margin-right: 0; /* Remove default margin */
    margin-bottom: 20px; /* Add margin */
}

.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
    background-color: #45a049;
}

.formerror {
    color: red;
    margin-top: -10px;
    font-size: 12px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .form {
        width: 90%;
    }
}
